{# templates/default/infoip.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <table>
        <thead>
            <th>Город</th>
            <th>Страна</th>
            <th>IP</th>
        </thead>
    {% for item in ips %}
        <tr>
            <td>{{ item.city }}</td>
            <td>{{ item.country }}</td>
            <td>{{ item.ip }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}